<div class="about_detail-container"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
      
      
      <div class="row">
      <div class="column" >
      <p style="width: 50%" >ITAFOR Digital Marketing Company: Is an Innovative digital agency founded in January 2023. We specialize in digital promotions
      Website and mobile application development </p>
    
      </div>
      
      <div class="column">
      <img alt="" src="./images/baby bag.jpg">
      </div>
      
      <div class="column">
      <img alt="" src="./images/baby bag.jpg">
      </div>
    </div>  
      
  </div>>