<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>ShopMe</title>
		 <link rel="stylesheet" type="text/css" th:href="@{/styles.css}" />
		  <link rel="stylesheet" type="text/css" th:href="@{/media.css}" />
		  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
          <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
          <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body style="margin-left:auto;margin-right:auto;">

	 
	 <th:block th:include = "/header"></th:block>
	 <th:block th:include = "/productCat"></th:block>
	 <hr>
	 <th:block th:include = "/map"></th:block>
	 <th:block th:include = "/footer"></th:block>
	 
	 
 <script>
 
 /* Header Stick on Scroll*/
window.onscroll = function() {myFunction()};

var header = document.getElementById("myHeader");
var sticky = header.offsetTop;

function myFunction() {
  if (window.pageYOffset > sticky) {
    header.classList.add("sticky");
  } else {
    header.classList.remove("sticky");
  }
}

/* Menu contact flip*/
$(document).ready(function(){
	  $("#flip").click(function(){
	    $("#panel").slideDown("slow");
	    $("#panel1").slideUp("slow");
	    $("#panel3").slideUp("slow");
	  });
	});
	
$(document).ready(function(){
	  $("#close").click(function(){
	    $("#panel").slideUp("slow");
	  });
	});
	
/* Cart flip*/	
$(document).ready(function(){
	  $("#flip1").click(function(){
	    $("#panel1").slideDown("slow");
	    $("#panel").slideUp("slow");
	    $("#panel3").slideUp("slow");
	  });
	});
	
$(document).ready(function(){
	  $("#closecart").click(function(){
	    $("#panel1").slideUp("slow");
	  });
	});
	
	/* Scroll up contact pane3*/
	$(document).ready(function(){
	  $("#flip3").click(function(){
	    $("#panel3").slideDown("slow");
	    $("#panel1").slideUp("slow");
	    $("#panel").slideUp("slow");
	    
	  });
	});
	
$(document).ready(function(){
	  $("#closecont").click(function(){
	    $("#panel3").slideUp("slow");
	  });
	});

	
	


</script>
<!-- 
<script> 
$(document).ready(function(){
  $("#flip").click(function(){
    $("#panel").slideDown("slow");
  });
});
</script>

-->
</body>
</html>>