<div class="contact-container"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
      
      
      <div id="panel3">
       <div class="row">
      <div class="column" >
      <h4>Lagos Nigeria </h4>
      <p> <span class="glyphicon glyphicon-earphone" style="color:blue"></span>+234 8148360715</p>
      <a>fabianjohn234@gmail.com</a>
    
      </div>
      
      <div class="column" style="width: 60%; margin-top: 10px;">
      <form action="">
      <input type="text" name="name" value="name" style="width: 30%; font-size: 20px;" >
      <input type="text" name="phone" value="phone" style="width: 30%; font-size: 20px;"><br>
      <input type="text" name="email" value="emaill address" style="width: 60%; font-size: 20px; margin-top: 10px;"><br>
      <textarea name="message" style="width:60%; height:100px; font-size: 20px; margin-top: 10px;"></textarea>
      <br>
      <input type="submit" value="Contact us" style="width: 60%; font-size: 20px; margin-top: 10px;" class="p-3 mb-2 bg-success text-white">
      
      </form>
     
    </div>  
      
      
  </div>
 </div> 
  </div>