<div class="hpic-container"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
      
      
      
      
      
      <div class="fl">
   <div class="page-title" style="float: left; font-size: 15px; padding:30px; padding-right: 20px;color:white;"><b>ShopMe</b></div><br>
   <h4>Lagos Nigeria </h4>
      <p> <span class="glyphicon glyphicon-earphone" style="color:blue"></span>+234 8148360715</p>
      <a>fabianjohn234@gmail.com</a>
      
      
      </div>
      
      
  </div>